.block-bg-grey {
  background-color: #f6f6f5;
  border-radius: 5px;
  padding: 1em 1.5em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  display: inline-block;
  /* display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; */
}

.bg-red {
  background-color: green;
  /* white-space: pre-wrap; */
  /* overflow-wrap: break-word; */
}

/* .pull-left {
  float: left;
}

.pull-right {
  float: right;
} */

.block-element {
  display: block;
}

.large-text {
  font-size: 50px;
  vertical-align: middle;
}

.inline-centered {
  display: inline-block;
  vertical-align: middle;
}

.green-color {
  color: #251;
}

.blue-color {
  color: #002d54;
}

.brown-color {
  color: #543;
}

.toolbar-format {
  position: relative;
  top: 5px;
  margin-right: 1.3em;
}

.toolbar-format svg {
  position: relative;
  top: 5px;
  left: -3px;
}
