
.news-wrapper-view span.divider {
    width: 1px;
    height: 14px;
    background: #E7E7E7;
    margin: 0 8px;
}

.news-wrapper-view .headline {
    width: 100%;
    display: block;
    color: #1d5409;
    font-size: 20px;
    margin: 8px 0 !important;
}
.news-wrapper-view article {
    border-top: 1px solid #e6e6e6;
    padding: 8px 0;
}

.news-wrapper-view article .article-headline {
    width: 100%;
    display: flex;
    align-items: center;
    color: #005454;
    cursor: pointer;
    font-size: 16px;
    margin: 0 !important;
}

.news-wrapper-view article .article-headline .icon {
    margin-right: 8px;
}
        
.news-wrapper-view article .article-body {
    max-height: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    pointer-events: none;
}

.news-wrapper-view article .article-body.expanded {
    max-height: 200px;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.news-wrapper-view article .article-body .meta-data {
    padding: 0 24px;
    font-size: 12px;
}

.news-wrapper-view article .article-body .meta-data .format-text {
    color: #9a9a9a;
}

.news-wrapper-view article .article-body .meta-data .format-type {
    color: #545454;
}



.news-wrapper-view article .article-body .article-content {
    padding: 0 24px;
    font-size: 14px;
}

.news-wrapper-view article .article-body .article-content .block {
    margin: 0.3em 0;
}


.news-wrapper-view article .article-body .article-content .actions {
    color: #005454;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}